 #aboutMe {
    border-radius: 1px;
    /* background-color: rgb(36, 122, 192); */
    text-align:center;
    margin-top: auto;
    margin-left: auto;
    margin-right: 50px;
    padding-top: 50px;

    
}

#image {
    padding-bottom: 50%;

}

/* #mission {
    background-color: rgb(36, 122, 192);
    text-align: justify;
    margin-top: auto;
    margin-left: 50px;
    margin-right: 50px;

    
}

#vision {
    background-color: rgb(36, 122, 192);
    text-align: justify;
    margin-top: auto;
    margin-left: 50px;
    margin-right: 50px;

    
} */

.aboutMe {
  text-align: center;  
} 

