#quote {
       background-color: rgb(36, 122, 192);
       border-radius: 5px;
       text-align: center;
}

#name {
    background-color: rgb(36, 122, 192);
    border-radius: 5px;
    text-align: center;
}

.nav {
    text-align: center;

}


